= @user.name
%br

- @balances.each do |balance|
  = balance.signal
  = balance.price
  = balance.color
  %br

= form_for @balance, url: balances_path(params[:user_id]) do |f|
  = text_field :balance, :price, placeholder: 'Ex.: - 10.00'
  = hidden_field_tag 'balance[user_id]', params[:user_id]
  = f.submit
